---
import { Icon } from 'astro-icon/components';
import Container  from '../core/Container.astro';

const { footerSocials, copyrightName, background, color } =
  Astro.props;
---

<footer
  style={background && `--footer-bg:${background}; --footer-color:${color}`}
>
  <Container>
    <div class="footer-grid__container">
      <div class="footer-brand__container">
        <div>
          <slot name="logo" />
        </div>
        <ul class="footer-socials__list">
          {
            footerSocials.map((social: any) => (
              <li class="footer-socials__item">
                <a
                  href={social.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer-socials__link"
                  title={`Open ${social.name} profile`}
                >
                  <Icon name={social.icon} width={30} height={30} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    <div class="footer-copyright__container">
      <p> &copy; {new Date().getFullYear()}. ყველა უფლება დაცულია | {copyrightName}</p>
    </div>
  </Container>
</footer>

<style>
  footer {
    --footer-bg: #1e293b;
    --footer-color: var(--theme-on-primary);
    min-height: 27vh;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    border-top-left-radius: var(--theme-shape-radius);
    border-top-right-radius: var(--theme-shape-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-grid__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-brand__container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-socials__list {
    margin-bottom: 0.5rem;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .footer-socials__item {
    margin-right: 1rem;
  }
  .footer-copyright__container p {
    font-size: 0.75rem;
      font-family: var(--theme-font-family-georgian-header)
  }
  .footer-socials__link svg {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 768px) {
    .footer-grid__container {
      padding: 5vh 0;
    }
  }
  @media (max-width: 600px) {
    .footer-grid__container {
      padding: 5vh 0;
    }
  }
</style>
