---
const { label, name, required} = Astro.props;
---

<div class="form-field__container">
  {label && <label>{label}</label>}
  <label>
    <input type="radio" name={name} value="yes" required={required} />
        კი
  </label>
  <label>
    <input type="radio" name={name} value="no" required={required} />
       არა
  </label>
</div>

<style>
  .form-field__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
