---
export function getStaticPaths() {
	return [
		{ params: { title: 'grdzeli' }, props: { info: courses[0] } },
		{ params: { title: 'mokle' }, props: { info: courses[1] } },
		{ params: { title: 'mokle-erteuli' }, props: { info: courses[2] } },
	];
}

import CourseRegistrationForm from '../../../components/forms/CourseRegistrationForm.astro';
import Accordion from '../../../components/core/Accordion.astro';
import { Container } from '@components/odyssey-theme';
import Layout from '../../../layouts/Page.astro';
import { courses } from './courses';

const { info } = Astro.props;
const seo = {
	title: 'Course | Pr Wave',
	description: 'Course Page',
};
---

<Layout {seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="text-section">
				<div class="contact-hero__text-section">
					<h1>{info.title}</h1>
					<p>
						{info.description}
					</p>
				</div>
			</div>
            <div class="middle-section">
                <div class="info-section">
                    <div class="video-section">
                        <video controls>
                            <source src="" type="video/webm">
                        </video>
                    </div>
                    <div class="details-section">
                        <h3> კურსის დეტალები </h3>
                        <div class="cubic_details">
                            <p> 18 შეხვედრა </p>
                            <p> Offline შეხვედრები </p>
                            <p> Online შეხვედრები </p>
                            <p> 24/7 დახმარება </p>
                        </div>
                    </div>
                    <div class="form-section">
                        <CourseRegistrationForm />
                    </div>
                </div>
                <div class="syllabus-section">
                    <div class="syllabus">
                        <h3> კურსის სილაბუსი: </h3>
                        {info.syllabus.map((day, index) => (
                            <Accordion day={day.day} content={day.content} hidden={index >= 9 ? 'hidden' : ''} open={index === 0 ? true : false} />
                        ))}
                        <button id="toggleButton">მეტის ჩვენება</button>
                    </div>
                </div>
            </div>
		</section>
	</Container>
</Layout>


<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.getElementById('toggleButton');
        const accordionItems = document.querySelectorAll('.hidden');
        let isExpanded = false;

        toggleButton.addEventListener('click', function() {
            accordionItems.forEach(item => {
                item.classList.toggle('hidden');
            });
            isExpanded = !isExpanded;
            toggleButton.textContent = isExpanded ? 'ნაკლების ჩვენება' : 'მეტის ჩვენება';
        });
    });
</script>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 1.5rem;
        align-items: start;
	}
	.contact-hero__text-section {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
		max-width: 100%;
		box-sizing: border-box;
		word-break: break-word;
	}
	.middle-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
        align-items: start;
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
        justify-content: flex-start;
        min-height: min-content;
	}
    .syllabus {
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    .cubic_details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        width: 75%;
    }
    @media (max-width: 768px) {
        .middle-section {
            grid-template-columns: 1fr;
        }
        .cubic_details {
            justify-content: center;
            align-items: center;
        }
        .details-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .video-section { order: 1; }
        .details-section { order: 2; }
        .syllabus-section { order: 2; }
        .form-section { order: 3; }
    }
	@media (max-width: 1352px) {
		h1 {
			font-size: 48px;
		}
	}
    video {
        width: 100%;
        height: auto;
    }
</style>
